body {
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

nav.flexMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav.flexMenu a {
  color: rgba(255, 0, 128, 0.3);
}

nav.flexMenu a:hover,
nav.flexMenu a:active {
  color: rgba(255, 0, 128, 1);
  transition: color 2s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 1, 1.48);
}

nav.flexMenu a.active {
  color: rgba(255, 0, 128, 1);
  border-bottom: 2pt solid rgba(255, 0, 128, 1);
}
