:root {
  --light-bg-color: #ffffff;
  --secondary-bg-light-bg-color: rgba(0, 0, 0, 0.1);
  --dark-bg-color: #000000;

  --main-heading-color: rgba(0, 0, 0, 0.1);

  --light-text-color: #ffffff;
  --secondary-dark-text-color: rgba(0, 0, 0, 0.2);
  --main-dark-text-color: rgba(0, 0, 0, 0.85);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--main-heading-color);
  text-transform: uppercase;
  font-weight: bolder;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0.01em;
}

a {
  color: var(--secondary-dark-text-color);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--dark-primay-text-color);
}

main {
  padding-top: 78px;
}

main p {
  font-weight: 100;
}

.colorBlack {
  color: var(--main-dark-text-color);
}

.wrapper {
  padding: 5% 0;
  width: 95%;
  margin: 0 auto;
}

.sectionsWrapper,
.articlesWrapper,
.formGroup {
  display: flex;
  flex-direction: column;
}

.carrousel {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.carrousel .carrouselItem {
  margin: 6% 2%;
  border-radius: 5%;
}

.carrousel .carrouselItem a {
  text-decoration: none;
}

.carrousel .carrouselItem a h3 {
  text-decoration: none;
  color: inherit;
}

.carrousel .carrouselItem a:hover h3,
.carrousel .carrouselItem a:active h3 {
  color: var(--main-dark-text-color);
  transition: color 2s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 1, 1.48);
}

.carrousel .carrouselItem img {
  max-height: 100%;
  width: auto;
  max-width: 50vw;
  -webkit-box-shadow: 0px 4px 19px 3px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 4px 19px 3px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 4px 19px 3px rgba(0, 0, 0, 0.68);
}

input {
  height: 40px;
  margin: 1% 0 4%;
}

input[type="submit"] {
  padding: 0 13px;
}

textarea {
  height: 26px;
  padding: 4% 0 2%;
  margin: 1% 0 4% 0;
}

input,
textarea {
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 3pt solid var(--main-dark-text-color);
  background: var(--light-bg-color);
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
  background: var(--secondary-bg-light-bg-color);
  transition: background 7s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 1, 1.48);
}

input:focus,
textarea:focus {
  border-bottom: 1pt solid var(--main-dark-text-color);
  transition: border 2s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 1, 1.48);
}

header div.logo {
  height: 1.5em;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--light-text-color);
  background-color: var(--dark-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

header div.logo,
nav.flexMenu {
  position: fixed;
  width: 100%;
  left: 0;
}

nav.flexMenu {
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--light-bg-color);
  -webkit-box-shadow: 0px 4px 19px 3px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 4px 19px 3px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 4px 19px 3px rgba(0, 0, 0, 0.68);
}

nav.flexMenu a {
  padding: 13px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-dark-text-color);
}

nav.flexMenu a:hover,
nav.flexMenu a:active {
  color: var(--main-dark-text-color);
  transition: color 2s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 1, 1.48);
}

nav.flexMenu a.active {
  color: var(--main-dark-text-color);
  border-bottom: 3pt solid var(--main-dark-text-color);
}

footer {
  text-align: center;
  color: var(--secondary-dark-text-color);
}

/* ------------------- MEDIA QUERIES ------------------- */

/* Less than 360 */

/* @media screen and (min-width: 360px) {
  .wrapper {
  }
} */

/* From 361 to 960 */

/* @media screen and (min-width: 961px) {
  .wrapper {
    width: 90%;

    background-color: green;
  }
}

/* From 961 to 960 */

/* @media screen and (min-width: 961px) {
  .wrapper {
    width: 90%;
  }
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  ...;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper {
    width: 90%;
  }

  #contact .formWrapper > form > .formGroup:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #contact .formWrapper > form > .formGroup:first-of-type .formGroup {
    width: 50%;
  }

  #contact
    .formWrapper
    > form
    > .formGroup:first-of-type
    > .formGroup:first-of-type {
    margin-right: 5%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .articlesWrapper {
    display: flex;
    flex-direction: row;
  }

  .articlesWrapper h1,
  .articlesWrapper > div {
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ...;
}
